# MySQL Database Configuration
MYSQL_DATABASE=osticket
MYSQL_USER=example_user
MYSQL_PASSWORD=example_password
MYSQL_ROOT_PASSWORD=example_root_password

# osTicket Configuration
OSTICKET_DB_HOST=db
OSTICKET_DB_NAME=osticket
OSTICKET_DB_USER=example_user
OSTICKET_DB_PASS=example_password
